@model LoginTask.Models.UserLoginModel
@{
    ViewData["Title"] = "User";
}
<h1 class="m-4">VNPT Da Nang</h1>

<h3 class="m-5 text-black ">Danh sach nguoi dung</h3>

<table class="table" style="width:1000px; h-600px; border:1px solid black; background-color:red margin-left:auto; margin-right:auto;">
    <thead>
        <tr>    
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">BirthDay</th>
            <th scope="col">Location</th>
            <th scope="col">&#160;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>

</table>

    